body{
    background-color: rgb(245, 165, 248);
    font-family: sans-serif;
    color: darkslategrey;
}

h1{
    padding: 50px;
    margin-left: 600px;
    
    font-size: 50px;

    
    
}
#number{
    padding: 50px 100px 10px 100px;
    position: relative;
    left:600px;
    font-size: 20px;
   

}

#number2{
    padding: 50px 100px 10px 100px;
    position: relative;
    left:600px;
    margin-bottom: 50px;
    font-size: 20px;
   
    

}

button{
    padding: 10px;
    background-color: rgb(203, 112, 211);
    color: rgb(37, 37, 37);
    margin: none;
    border: none;
    position: relative;
    left:700px;
    font-size: 25px;


    
}

button:hover{
    background-color: rgb(245, 165, 248);
    font-size: 20px;
    
}

#answer{
    padding: 50px;
    height: 50px;
    position: relative;
    left:650px;
    top:50px;
    font-size: 50px;
    margin-top: 40px;
  


}
#penguin{
    background-color: rgb(245, 165, 248);
    width: 400px;
    position: relative;
    left:250px;
    bottom: 100px;
}



