body{
    font-family: 'Montserrat',sans-serif;
}

#title{
    background-color: #ff4c68;
}

#navnav{
    height: 100px;
    font-size: 20px;
    
    
}
.container-fluid{
    padding:3% 15%;
}

#heading{
    font-family: 'Montserrat-Black',sans-serif;
    font-size: 5rem;
    line-height: 1.5;
    color: white;
}

#dogimg{
    transform: rotate(30deg)
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight:bold;
}

.nav-item{
    font-family: 'Ubuntu';
    word-spacing: 2rem;
}

nav{
    padding-bottom: 5rem;
}

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'Montserrat-Bold',sans-serif;
}

p{
    color: rgb(65, 65, 65);
}
    
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}


#testimonials{
    padding:7% 15%;
    background-color: #ef8172;
    text-align: center;
    color: white;
}
h2{
    font-family: 'Montserrat-Bold',sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    border-radius: 100%;
    width:10%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.pressimg{
    width:10%;
    margin: 20px 20px 50px;
    
}