*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}



body{
    background-color: black;
    color: darkcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
        
header{
    padding: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
    



.imgContain{
    display: flex;
    justify-content:space-evenly
    

    
}
form{
    align-items: center;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 3rem;
    font-size: 2rem;
    position: absolute;
    right: 900px;
    

}

.btn:hover{
    color: black;
    background-color: white;
}

